<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS personalizzato -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/hero.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">

  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar(null, null)}"></div>

<!-- Hero Section -->
<section class="hero mb-5">
  <div class="container">
    <h1>Benvenuto su SIWBooks</h1>
    <p>Scopri libri e autori scelti per te</p>
  </div>
</section>
<div class="container home-buttons">
  <div class="row g-4 justify-content-center">
    <!-- Libri -->
    <div class="col-12 col-md-6">
      <div class="image-link position-relative rounded shadow overflow-hidden">
        <a th:href="@{/books}">
          <img src="/images/books.jpg" alt="Vai ai Libri" class="img-fluid w-100" />
          <div class="overlay-text">Esplora i Libri <i class="bi bi-book"></i></div>
        </a>
        <a th:href="@{/admin/addBook}" class="add-button position-absolute">
          <i class="bi bi-plus-circle-fill"></i>
        </a>
      </div>
    </div>

    <!-- Autori -->
    <div class="col-12 col-md-6">
      <div class="image-link position-relative rounded shadow overflow-hidden">
        <a th:href="@{/authors}">
          <img src="/images/authors.jpg" alt="Vai agli Autori" class="img-fluid w-100" />
          <div class="overlay-text">Esplora gli Autori <i class="bi bi-pen"></i></div>
        </a>
        <a th:href="@{/admin/addAuthor}" class="add-button position-absolute">
          <i class="bi bi-plus-circle-fill"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
