.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7190b1;
    color: #ecf0f1;
    padding: 0.5rem 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding-top: 30px; /* almeno quanto l’altezza navbar */
}


.navbar-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo a sinistra */
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #ecf0f1;
}

.navbar-logo-img {
    height: 30px;
    width: auto;
    transform: scale(1.5); /* visivamente più grande */
    transform-origin: center;
}

.navbar-logo-text {
    font-weight: bold;
    font-size: 1rem;
}

/* Parte destra con link */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-links,
.navbar-auth {
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}
