<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- Include la navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main id="app">
  <div class="author-grid">
    <div class="author-card" th:each="author : ${authors}">
      <a th:href="@{'/author/' + ${author.id}}">
        <img th:src="@{'/author/' + ${author.id} + '/cover'}" th:alt="${author.title}" onerror="this.onerror=null;this.src='/images/imagePlaceholder.png';">
        <div class="author-title" th:text="${author.title}">Titolo libro</div>
      </a>
    </div>
  </div>
</main>

</body>
</html>