<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- Include la navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main id="app">
    @<div th:text="${userDetails != null ? userDetails.getName() : 'Utente anonimo'}">Nome</div>

    <div class="home-buttons">
        <div class="books-button image-link">
            <a th:href="@{/books}">
                <img src="/images/books.jpg" alt="Vai ai Libri">
                <div class="overlay-text">Esplora i libri</div>
            </a>
        </div>
        <div class="authors-button image-link">
            <a th:href="@{/authors}">
                <img src="/images/authors.jpg" alt="Vai agli Autori">
                <div class="overlay-text">Esplora gli scrittori</div>
            </a>
        </div>
    </div>
</main>


</body>
</html>
