<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- Include la navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Ciao <span th:text="${user.username}" th:alt="user"></span>!</h1>

<p><strong>Nome:</strong> <span th:text="${user.name}"></span></p>
<p><strong>Cognome:</strong> <span th:text="${user.surname}"></span></p>
<p><strong>Email:</strong> <span th:text="${user.email}"></span></p>

</body>
</html>
